.popover-content {
	padding: -15px;
	margin: -15px;
}

.navbar-nav > li > .dropdown-menu {
	min-width: 300px !important;
}

.glyphicon {
  	justify-content: center;
  	align-items: center;
  	top: 0px !important;
}

.document_number > a {
  	justify-content: center;
  	align-items: center;
}
#favButton{
	width:85%;
}
#deleteFav{
	width:15%;
}
